.contact-page {
  background-color: #fff;
}

.contact-form {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.send-btn {
  background-color: #ff8c00;
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.send-btn:hover {
  background-color: #e07b00;
}

.contact-info .icon {
  width: 22px;
  height: 22px;
}

.social-section h4 {
  font-weight: 600;
}

.social-icons i {
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #ff8c00;

}

.icon-circle{
  width: 35px;
  height: 35px;
  background-color: #ff8c00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.icon-circle:hover{
  background-color: #000000;
}

.social{
  font-weight:bolder;
  
}